apply-defaults==0.1.4
attrs==21.2.0
certifi==2020.12.5
chardet==4.0.0
click==7.1.2
idna==2.10
importlib-metadata==4.0.1
jsonrpcclient==3.3.6
jsonschema==3.2.0
PyQt5==5.15.4
PyQt5-Qt5==5.15.2
PyQt5-sip==12.9.0
pyrsistent==0.17.3
requests==2.25.1
six==1.16.0
typing-extensions==3.10.0.0
urllib3==1.26.4
zipp==3.4.1
